# Racket
compiled/
/build/
/bundle/
/add-on/
/extra-pkgs/

# Editor / backups
*~
\#*
.#*
*.bak
*.swn
*.swo
*.swp
*.orig
*.rej
TAGS

# OS metadata
.DS_Store

# LaTeX intermediates
*.aux
*.log
*.out
*.toc
*.lof
*.synctex.gz

# Coredumps
*.core

# Program output
results/
